/[Library]/
/[Temp]/
/[Obj]/
/[Logs]/
/[UserSettings]/
/[MemoryCaptures]/
/[Build]/
/[Builds]/
/Build/
/Builds/
/[Artifacts]/

/*.csproj
/*.sln
/*.user
/*.userprefs
/*.pidb
/*.suo

/Crashlytics~

.DS_Store
Thumbs.db